env:
  NEXTAUTH_URL: "https://app.finisterra.io"
  GOOGLE_CLIENT_ID: "41365737857-8k6gbqp9umqftt0683or432fdo3rkoun.apps.googleusercontent.com"
  GOOGLE_CLIENT_SECRET: "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"
  JWT_TIMEOUT: "3600"
  GITHUB_ID: "c870d993273fb705f00f"
  APP_URL: "https://app.finisterra.io"
  GITHUB_WEBHOOK_URL: "https://app.finisterra.io/api/github/app-webhook"
  GITHUB_APP_ID: "333396"
  FT_BASE_URL: "https://app.finisterra.io"
  FT_API_HOST: "https://app.finisterra.io"
  STRIPE_PRICE_ID: "price_1OpfjfEEFwkRGllYU6ocCbVj"
  SENDGRID_FROM_EMAIL: "daniel@finisterra.io"
  AZURE_AD_CLIENT_ID: "18bc6b9d-a9a7-4266-a393-3a1baa6255c2"
  AZURE_AD_TENANT_ID: "common"

